body{
    background-color: #121212;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}

.text-center{
    text-align: center;
}

.car {
    width: 300px;
    height: 150px;
    background-color: #333;
    border-radius: 15px;
    position: relative;
    margin: 20px auto;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.185);
}

.seat {
    width: 40px;
    height: 40px;
    background-color: #4CAF50;
    border-radius: 5px;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    box-shadow: 0 1px 3px #4CAF50;
}

.seat.booked {
    background-color: #FF0000;
    box-shadow: 0 1px 3px #FF0000;
    pointer-events: none;
}

.seat.pending {
    background-color: #ffa600;
    box-shadow: 0 1px 1.5px #FFA500;
}

.seat.selected {
    background-color: #00ffaa;
    box-shadow: 0 1px 3px #00ffaa;
    
}

.seat:hover {
    opacity: 0.5;
    transition: opacity .3s ease;
}



.car .row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
}

.input-field {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.input-field:focus {
    border-color: #000000;
    outline: none;
    box-shadow: 0 1px 3px #000000;
}

.confirm-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.confirm-button:hover {
    background-color: #45a049;
}

.container {
    color: #fff;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #424242;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding-bottom: 40px;
    margin-bottom: 20px;
}
.booked {
    text-align: left;
    color: #FF0000;
    font-size: 12px;
}
.pending {
    text-align: left;
    color: #ffa600;
    font-size: 12px;
}
.vacant {
    text-align: left;
    color: #4CAF50;
    font-size: 12px;
}